.upper-section{
    background-image: linear-gradient(to bottom, rgb(55, 83, 243) , rgb(123, 157, 253));
    /* height: 205px; */
    padding: 15px;
}
.nav-text{
    background-image: linear-gradient(to right, rgb(233, 160, 64) , rgb(255, 255, 246));
}




/* Lower section CSS */

.left-side{
    background-color: orange;
}




/* Footer CSS */
.footer{
    background-image: linear-gradient(to bottom, rgb(55, 83, 243) , rgb(123, 157, 253));
    text-align: center;
    color: white;

}